<h1>Origin Info</h1>

<p>
	<%= @origin.location %>
	<%= @origin.phone_number %>
</p>

<p><%= link_to 'Edit', edit_origin_path(@origin.id) %></p>
<p><%= button_to 'Destroy', origin_path, method: :delete, data: { confirm: 'Are you sure?' } %></p>

<%= link_to 'Back', origins_path %>